.search-form {
  display: flex;
  align-items: baseline;

  button {
    font-family: sofia-pro, sans-serif;
    margin-left: 15px;
    height: 36px;
    background-color: #ffce29;
    border-radius: 15px;
    border: 0px;
    padding: 5px 15px 5px 15px;
  }
}